.article-div{
    margin-left:10%;
    padding-top:20px;
    width:80%;
}

.article-div .article-content{
    padding:15px;
    width:33%;
    height:300px;
    border:1px solid #eee;
    float:left;
    overflow-y: hidden;
}

.article-div .article-content img{
    width:100%;
    height:150px;
}

.article-div .article-content .article-description{
    width:100%;
    height:40px;
    overflow-y: hidden;
}

a{
    text-decoration:none;
}

.article-content-a{
    margin-left:10%;
    padding:5px;
    width:80%;
}

.about-content-div{
    text-align:center;
    width:100%;
}

.about-content-div .img-div{
    width:50%;
    float:left;
}

.about-content-div .img-div img{
    width:60%;
}

.navigation-div{
    margin-left:10%;
    margin-top:10px;
    width:80%;
}

.navigation-div .navigation-tab{
    width:30%;
    float:left;
    text-align:center;
}

.navigation-div .navigation-tab li{
    margin-top:20px;
    list-style-type:none;
}

.navigation-div .navigation-content{
    width:50%;
    float:right;
    margin-right:20%;
    display:none;
}

.navigation-div .navigation-content span{
    margin-top:15px;
    display:inline-block;
    width:23%;
    font-size:15px;
    line-height:50px;
    text-align:center;
}