.article-div{
    margin-left:10%;
    padding-top:20px;
    width:80%;
}

.article-div .article-content{
    padding:15px;
    width:33%;
    height:300px;
    border:1px solid #eee;
    float:left;
    overflow-y: hidden;
}

.article-div .article-content img{
    width:100%;
    height:150px;
}

.article-div .article-content .article-description{
    width:100%;
    height:40px;
    overflow-y: hidden;
}

a{
    text-decoration:none;
}

.article-content-a{
    margin-left:10%;
    padding:5px;
    width:80%;
}