{% extends "base/base.html" %}
{% block title %}技术{% endblock %}
{% block content %}
    <div class="article-content-a">
        <h1>
            自动化运维
        </h1>
        <p>
            <span class="label label-info">运维</span>
            <span class="label label-info">研发</span>
        </p>
        <p>
            <small>
                简介简介简介简介简介简介简介简介简介简介
                简介简介简介简介简介简介简介简介简介简介
                简介简介简介简介简介简介简介简介简介简介
                简介简介简介简介简介简介简介简介简介简介
                简介简介简介简介简介简介简介简介简介简介
            </small>
        </p>
        <hr>
        <div>
            内容内容内容内容内容内容内容内容内容内容
            内容内容内容内容内容内容内容内容内容内容
            内容内容内容内容内容内容内容内容内容内容
        </div>
    </div>
{% endblock %}