{% extends "base/base.html" %}
{% block title %}技术{% endblock %}
{% block content %}
    <div class="article-content-a">
        <h1>
            {{obj.title}}
        </h1>
        <p>
            {% for label in obj.label %}
                <span class="label label-info">{{label}}</span>
            {% endfor %}
        </p>
        <p>
            <small>{{obj.description}}</small>
        </p>
        <hr>
        <div>{{obj.content|safe}}</div>

        <!--高速版-->
        <div id="SOHUCS" sid="article-{{obj.id}}"></div>
        <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
        <script type="text/javascript">
            window.changyan.api.config({
                appid: 'cys0uEBmD',
                conf: 'prod_611b64240a901790a8e66f700da24fd2'
            });
        </script>

    </div>
{% endblock %}