{% extends "base/base.html" %}
{% block title %}关于{% endblock %}
{% block content %}
    <h2 align="center">一个简简单单，用于记录技术的小站</h2>
    <hr>

    <h5 align="center">
        有任何问题可以发送邮件到&nbsp;&nbsp;&nbsp;
        <strong>yubang@yubangweb.com</strong>
    </h5>

    <hr>
    <div class="about-content-div">
        <div class="img-div">
            <p align="center">微信公众号</p>
            <img src="/pic/9553690f32a0446de1b7c65e35239e3e">
        </div>
        <div class="img-div">
            <p align="center">博客</p>
            <img src="/pic/8a51647ef6efa06f7f7f3408a31b4d8d">
        </div>
    </div>

{% endblock %}
