{% extends "base/base.html"%}
{% block title %}技术小站{% endblock %}
{% block content %}
    <br>
    <h2 align="center">
        <input type="search" id="key" name="key" placeholder="请输入要搜索的关键词" onkeypress="if(event.keyCode==13) {searchKey();return false;}">
        <a href="javascript:searchKey();" class="btn btn-info">搜索</a>
        <small>
            <small>
                <a href="/article/search">（无法搜索？）</a>
            </small>
        </small>
    </h2>
    <hr>

    <!--导航框-->
    <div class="navigation-div">
        <div class="navigation-tab">
            <ul>
                {% for obj in navigations %}
                    <li><a href="javascript:showNavigationDiv({{loop.index}});" class="btn btn-info">{{obj.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% for obj in navigations %}
        <div class="navigation-content" id="navigation-content-{{loop.index}}">
            <p align="center">{{obj.name}}</p>
            {% for t in obj.content %}
                <span>
                    <a href="{{t.href}}" target="_blank">{{t.content}}</a>
                </span>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

{% endblock %}
{% block script %}
<script>
    function showNavigationDiv(index){
        $(".navigation-content").hide();
        $("#navigation-content-"+index).show();
    }
    function searchKey(){
        var key = $("#key").val();
        var arrs = key.split(" ");
        key = "";
        for(var i = 0;i<arrs.length; i++){
            if(key != ""){
                key += " ";
            }
            key = key + encodeURIComponent(arrs[i]);
        }
        key = key.replace(/\s/ig,"+");
        var url = "https://www.google.com.hk/#newwindow=1&safe=strict&q=site:yubangweb.com";
        if(key != ""){
           url = url + "+" + key;
        }
        window.open(url);
    }
    $(document).ready(function(){
        showNavigationDiv(1);
    });
</script>
{% endblock %}