{% extends "base/base.html"%}
{% block title %}技术小站{% endblock %}
{% block content %}
    <br>
    <h2 align="center">
        <input type="search" name="" placeholder="请输入要搜索的关键词">
        <a href="javascript:alert('暂时还不能搜索！');" class="btn btn-info">搜索</a>
    </h2>
    <hr>

    <!--导航框-->
    <div class="navigation-div">
        <div class="navigation-tab">
            <ul>
                {% for obj in navigations %}
                    <li><a href="javascript:showNavigationDiv({{loop.index}});" class="btn btn-info">{{obj.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% for obj in navigations %}
        <div class="navigation-content" id="navigation-content-{{loop.index}}">
            <p align="center">{{obj.name}}</p>
            {% for t in obj.content %}
                <span>
                    <a href="{{t.href}}" target="_blank">{{t.content}}</a>
                </span>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

{% endblock %}
{% block script %}
<script>
    function showNavigationDiv(index){
        $(".navigation-content").hide();
        $("#navigation-content-"+index).show();
    }
    $(document).ready(function(){
        showNavigationDiv(1);
    });
</script>
{% endblock %}