{% extends "base/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

    <div class="article-div">
        {% for obj in articles %}
            <!-- 文章 -->
            <div class="article-content">
                <p>
                    {% for label in obj.label %}
                        <span class="label label-info">{{label}}</span>
                    {% endfor %}
                </p>
                <h3>
                    <a href="/article/a/{{obj.id}}">{{obj.title}}</a>
                </h3>
                <img src="{{obj.pic_url}}">
                <div class="article-description">
                    <small>{{obj.description}}</small>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}